@import 'tailwindcss';

@theme inline static {
  --color-*: initial;
  --color-white: #fff;
  --color-black: #000;
  --color-light-yellow: #fffca1;
  --color-wood-100: #e3c69d;
  --color-wood-200: #d5aa71;
  --color-wood-300: #c98d61;
  --color-wood-400: #bc7354;
  --color-wood-500: #a05b47;
  --color-wood-600: #743320;
  --color-steel-100: #9cace2;
  --color-steel-200: #65668b;
  --color-steel-300: #4c4d7c;
  --color-steel-400: #3f3a5a;
  --color-steel-500: #15175e;
  --color-green-100: #accb7b;
  --color-green-200: #75a743;
  --color-green-300: #468232;
  --color-green-400: #25562e;
  --color-grey-100: #7c9298;
  --color-grey-200: #47545b;
  --color-grey-300: #364652;
  --color-grey-400: #272c33;
  --color-blue-100: #1f93ff;
  --color-blue-200: #0052ff;
  --color-blue-300: #0035bd;
  --color-blue-400: #001370;
  --color-red-100: #ff5d41;
  --color-red-200: #f23131;
  --color-red-300: #d30408;
  --color-red-400: #87090b;
  --color-lavender-100: #8b9aff;
  --color-lavender-200: #6c54f8;
  --color-lavender-300: #5d25cd;
  --color-lavender-400: #482197;
  --color-orange-100: #ffb041;
  --color-orange-200: #fc750c;
  --color-orange-300: #e05429;
  --color-orange-400: #962a0f;
  --font-upheaval-tt: var(--font-upheaval-tt), Arial, Helvetica, sans-serif;
  --font-pixellari: var(--font-pixellari), Arial, Helvetica, sans-serif;
  --text-shadow-*: initial;
  --text-shadow-primary: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
  --text-shadow-secondary: 0 0.1em 0.05em rgba(0, 0, 0, 0.17);
}

/* Text Stroke */

@utility text-stroke-* {
  --tw-text-stroke-width: --spacing(--value(integer));
  --tw-text-stroke-width: --value([length]);
  --tw-text-stroke-color: --value(--color-*, [color]);
}

@utility text-stroke {
  --tw-text-stroke-width: 0.1em;
  --tw-text-stroke-color: initial;
  --tw-text-stroke-y-multiplier: 1.25;
  --tw-text-stroke-shadow: 0 0;

  --tw-text-stroke-top: var(--tw-text-stroke-width) 0
    var(--tw-text-stroke-color);
  --tw-text-stroke-right: 0 calc(var(--tw-text-stroke-width) * -0.875)
    var(--tw-text-stroke-color);
  --tw-text-stroke-bottom: 0
    calc(var(--tw-text-stroke-width) * var(--tw-text-stroke-y-multiplier))
    var(--tw-text-stroke-color);
  --tw-text-stroke-left: calc(var(--tw-text-stroke-width) * -1) 0
    var(--tw-text-stroke-color);

  filter: drop-shadow(var(--tw-text-stroke-top))
    drop-shadow(var(--tw-text-stroke-right))
    drop-shadow(var(--tw-text-stroke-bottom))
    drop-shadow(var(--tw-text-stroke-left))
    drop-shadow(var(--tw-text-stroke-shadow));
}

@utility text-stroke-shadow {
  @apply text-stroke;
  --tw-text-stroke-shadow: var(--text-shadow-secondary);
}

@utility text-stroke-expanded {
  @apply text-stroke;
  --tw-text-stroke-y-multiplier: 2.125;
}

@utility text-stroke-expanded-shadow {
  @apply text-stroke;
  --tw-text-stroke-y-multiplier: 2.125;
  --tw-text-stroke-shadow: var(--text-shadow-secondary);
}

/* Clip Path */

@utility clip-frame-* {
  --tw-clip-frame-size: --spacing(--value(integer));
  --tw-clip-frame-size: --value([length]);
}

@utility clip-frame {
  --tw-clip-frame-size: 2px;
  clip-path: polygon(
    0% var(--tw-clip-frame-size),
    var(--tw-clip-frame-size) var(--tw-clip-frame-size),
    var(--tw-clip-frame-size) 0,
    calc(100% - var(--tw-clip-frame-size)) 0,
    calc(100% - var(--tw-clip-frame-size)) var(--tw-clip-frame-size),
    100% var(--tw-clip-frame-size),
    100% calc(100% - var(--tw-clip-frame-size)),
    calc(100% - var(--tw-clip-frame-size))
      calc(100% - var(--tw-clip-frame-size)),
    calc(100% - var(--tw-clip-frame-size)) 100%,
    var(--tw-clip-frame-size) 100%,
    var(--tw-clip-frame-size) calc(100% - var(--tw-clip-frame-size)),
    0 calc(100% - var(--tw-clip-frame-size))
  );
}
